<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato&family=Limelight&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/main.css" />
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    <title>Netoscope</title>
</head>
<header>
    <img src="/logo.gif" alt="Kaiserpanorama" id="logo">
    <h1>Netoscope</h1>
</header>

<body>
    <hr>
    <div id="main">


        <form aria-labelledby="form-title" class="upload">
            <h2 id="form-title">Add your own</h2>
            <input v-model="title" type="text" name="title" id="title" class="upload__input-text" placeholder="title">
            <input v-model="description" type="text" name="description" id="description" placeholder="description"
                class="upload__input-text upload__input">
            <input v-model="username" type="text" name="username" id="username" class="upload__input-text upload__input"
                placeholder="username" :style="errorStyle" required>
            <input @change="selectFile" type="file" name="file" id="file" class="upload__input" accept="image/*"
                required>
            <label for="file" id="file-label" :style="errorStyle">Choose a pic</label>
            <button @click.prevent.default="upload">
                Upload
            </button>
            <h2 id="input-error">{{inputError}}</h2>
        </form>

        <hr>

        <section class="board" aria-label="Image board">
            <div class="card" v-for="pic in pics">
                <img :key="pic.id" :id="pic.id" :src="pic.url" :alt="pic.description" @click="showImgModule">
                <label :for="pic.id">{{pic.title}}</label>
            </div>
        </section>

        <focus-on-pic v-if="clickedPicId" :clicked-pic-id-prop="clickedPicId" @hide-img-module="hideImgModule">
        </focus-on-pic>
    </div>
    <script src="/js/app.js" type="module" crossorigin="use-credentials"></script>
</body>

</html>