<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato&family=Limelight&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/main.css" />
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    <title>Netoscope</title>
</head>
<header>
    <img src="/logo.gif" alt="Kaiserpanorama" id="logo">
    <h1>Netoscope</h1>
</header>

<body>
    <hr>
    <div id="main">

        <form id="upload">
            <h2>Add your own</h2>
            <input v-model="title" type="text" name="title" id="title" placeholder="title">
            <input v-model="description" type="text" name="description" id="description" placeholder="description">
            <input v-model="username" type="text" name="username" id="username" placeholder="username" required>
            <input @change="selectFile" type="file" name="file" id="file" accept="image/*" required>
            <label for="file" id="file-label">Choose a pic</label>
            <button @click.prevent.default="upload">
                Upload
            </button>
        </form>
        <hr>

        <div class="board">
            <div class="card" v-for="pic in pics">
                <img :key="pic.id" :id="pic.id" :src="pic.url" :alt="pic.description">
                <label :for="pic.id">{{pic.title}}</label>
            </div>
        </div>
    </div>
    <script src="/js/app.js" type="module" crossorigin="use-credentials"></script>
</body>

</html>