<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato&family=Limelight&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/main.css" />
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    <title>Netoscope</title>
</head>
<div id="main">
    <header>
        <div>
            <a href="/"><img src="/logo.gif" alt="Kaiserpanorama" id="logo"></a>
            <a href="/">
                <h1>Netoscope</h1>
            </a>
        </div>

        <h2 id="form-title" @click="showUploadModule">Add your own</h2>
    </header>

    <upload-form v-if="visibleUploadModule" @hide-upload-module="hideModules" @img-uploaded="addImg($event)">
    </upload-form>

    <body>
        <section class="board" aria-label="Image board">
            <div class="card" v-for="pic in pics">
                <img :key="pic.id" :id="pic.id" :src="pic.url" :alt="pic.description" @click="showImgModule">
                <label :for="pic.id">{{pic.title}}</label>
            </div>
        </section>

        <focus-on-pic v-if="clickedPicId" :clicked-pic-id-prop="clickedPicId" @hide-img-module="hideModules">
        </focus-on-pic>
    </body>
</div>
<script src="/js/app.js" type="module" crossorigin="use-credentials"></script>
<footer>
    <p>© Tinux 2022</p>
</footer>

</html>