body {
    background-color: #7899d4;
    color: #5a5a8b;
    font-family: "Lato", sans-serif;
    position: relative;
    margin: 0;
}

header {
    margin: 15px;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 15px;
    font-family: "Limelight", cursive;
    font-size: large;
    color: #362023;
}

header div {
    display: flex;
    gap: 15px;
}

header a {
    color: #362023;
    text-decoration: none;
}
#logo {
    width: 70px;
    height: 70px;
    margin-top: 10px;
    opacity: 0.8;
}

.upload-module {
    position: absolute;
    z-index: 3;
    left: 31vw;
    width: 358px;
    height: 350px;
    padding: 40px;
    border-radius: 3%;
    background-color: #362023;
}

.upload {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
}

.upload div {
    display: flex;
    align-items: center;
}

.upload h2 {
    padding-right: 40px;
    color: #700548;
}

.upload__input-text,
#file-label,
.upload button {
    width: 100px;
    margin: 10px;
    background-color: #7899d4;
    border: 0px;
    border-radius: 10%;
    font-family: "Lato", sans-serif;
    font-size: 1rem;
}

::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #080705;
    font-family: "Lato", sans-serif;
    font-size: 1rem;
    font-weight: bold;
    opacity: 1; /* Firefox */
}

/* Internet Explorer 10-11 */
:-ms-input-placeholder {
    color: #080705;
    font-family: "Lato", sans-serif;
    font-size: 1rem;
}

/* Microsoft Edge */
::-ms-input-placeholder {
    color: #080705;
    font-family: "Lato", sans-serif;
    font-size: 1rem;
}

#file {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

#input-error {
    color: crimson;
}

.board {
    display: grid;
    grid: repeat(2, 350px) / repeat(3, 350px);
    gap: 15px;
    justify-content: center;
}

.card {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

img {
    -webkit-user-drag: none;
}
.card img {
    height: 90%;
    width: 100%;
    object-fit: cover;
    border-radius: 3%;
}

#overlay {
    position: absolute;
    z-index: 1;
    top: -20px;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(128, 128, 128, 0.75);
}

.img-module {
    position: absolute;
    top: 21vh;
    left: 33.8vw;
    z-index: 200;
    width: 450px;
    height: fit-content;
    padding: 10px;
    border-radius: 3%;
    display: flex;
    gap: 10px;
    align-items: center;
    flex-direction: column;
    background-color: #362023;
}

.img-module p,
.img-module label,
.comments {
    margin: 0;
    align-self: flex-start;
    margin-left: 20px;
    color: #7899d4;
}

.img-module label h3 {
    margin: 0;
    margin-top: 10px;
}

#img-module__close {
    width: 45px;
    height: auto;
    z-index: 3;
    position: absolute;
    top: 0;
    right: 0;
}

.img-module__pic {
    height: 350px;
    width: 350px;
    object-fit: cover;
    border-radius: 3%;
    margin-top: 10px;
}

.comments__header,
.comments__li {
    display: flex;
    justify-content: space-between;
}

.comments h3 {
    margin: 0;
    margin-bottom: 10px;
}

.comments p {
    margin: 0;
}

.comments__submit {
    margin-top: 10px;
}
#comment-text {
    min-width: 260px;
    width: fit-content;
}

.comments button,
input {
    width: 77px;
    margin: 5px;
    margin-left: 0;
    background-color: #7899d4;
    border: 0px;
    border-radius: 10%;
    font-family: "Lato", sans-serif;
    font-size: 1rem;
    font-weight: bold;
    color: #080705;
}

footer {
    height: 40px;
}

footer p {
    margin: 20px;
}
/* Portrait and Landscape */
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2) {
}

/* Portrait */
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
    .board {
        grid: repeat(6, 350px) / repeat(1, 350px);
    }
}

/* Landscape */
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {
    .board {
        grid: repeat(2, 300px) / repeat(3, 300px);
    }
}
